.search--submit_input {
    width: 100%;
    background: #3077c6;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--general-white);
    border-radius: 4px;
    border: none;
}