.background-homes {
  background-color: #eaf0f9;
}

.homes {
  display: grid;
  justify-items: center;
  row-gap: 104px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.swiper{
  width: 100%;
  height: 100%;
}

.swiper-wrapper{
  gap: 100px ;
}